@model iBudget.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CityStateZip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CityStateZip)
        </dd>
        @Html.HiddenFor(model => model.ApplicationUser.Id)
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerID">Edit</a> |
    @*<a asp-action="Details" asp-route-id="@Model.CustomerID">Details</a> |
    <a asp-action="Delete" asp-route-id="@Model.CustomerID">Delete</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
