@model IEnumerable<iBudget.Models.FinancialAnalyst>
@{
    ViewData["Title"] = "FinancialAnalystIndex";
}
<h2>Financial Analysts</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityStateZip)
            </th>
            <th></th>
        <tr />
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityStateZip)
                </td>
                <td>
                    <a asp-action="FinancialAnalystDetails" asp-route-id="@item.FinancialAnalystID">View Profile</a>
                </td>
            </tr>
        }
    </tbody>
</table>
