@model iBudget.Models.FinancialAnalyst

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Financial Analyst</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CityStateZip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CityStateZip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Promotions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Promotions)
        </dd>
        @Html.HiddenFor(model => model.ApplicationUserId)
        <dt>
            @*str.Link(@model.Link)*@
        </dt>
        <dd>
            <a href="@Model.Link" target="_blank">
                @Model.Link
            </a>
        </dd>
    </dl>
</div>
<dd>
    @Model.Image
    <img src="~/@Model.Image" height="200px" width="600px" />
</dd>

<div>
    <a asp-action="Edit" asp-route-id="@Model.FinancialAnalystID">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.FinancialAnalystID">Delete</a>|
    <a asp-action="Details" asp-route-id="@Model.FinancialAnalystID">Details</a> |
    <a asp-action="UploadImage" asp-route-id="@Model.FinancialAnalystID">Upload Image</a>
</div>
