@model iBudget.Models.Ad

@{
        ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Ad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AdPost" /> @Html.DisplayNameFor(model => model.AdPost)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Carousel" /> @Html.DisplayNameFor(model => model.Carousel)
                    </label>
                </div>
            </div>
            @Html.HiddenFor(model => model.PaymentCollected)
            @Html.HiddenFor(model => model.ApplicationUserId)
            @*<div class="form-group">
                @*div class="checkbox">
                    <label>
                        <input asp-for="PaymentCollected" /> @Html.DisplayNameFor(model => model.PaymentCollected)
                    </label>
                </div>*@
            @*</div>*@
            @*<@*div class="form-group">
                    <label asp-for="ApplicationUserId" class="control-label"></label>
                    <select asp-for="ApplicationUserId" class ="form-control" asp-items="ViewBag.ApplicationUserId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>*@
            <div class="form-group">
                <input type="submit" value="Buy" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

