@model iBudget.Models.Budget

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Budget</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Transactions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transactions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyEarnings)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyEarnings)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BudgetID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
